<br />
<br />
<br />
<h3 class="text-center">Statistics</h3>
<div class="overflow-auto mx-auto border" style="width: 1000px; height: 400px">
  <br />
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h4 class="text-center">Weight</h4>
        <br />
        <p class="text-center">Your highest recorded weight is <strong>{{highestWeight}} lbs</strong></p>
        <br />
        <p class="text-center">Your lowest recorded weight is <strong>{{lowestWeight}} lbs</strong></p>
        <br />
      </div>
      <div class="col-sm">
        <h4 class="text-center">Calories Burned</h4>
        <br />
        <p class="text-center">Your highest recorded calories burned is <strong>{{highestCalories}} calories</strong></p>
        <br />
        <p class="text-center">Your lowest recorded calories burned is <strong>{{lowestCalories}} calories</strong></p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm">
        <h4 class="text-center">Sets & Reps</h4>
        <br />
        <p class="text-center">Your highest amount of reps performed in one workout is <strong>{{highestReps}} reps</strong></p>
        <br />
        <p class="text-center">Your lowest amount of reps performed in one workout is <strong>{{lowestReps}} reps</strong></p>
      </div>
    </div>
  </div>
  </div>
