<br />
<br />
<br />
<div class="overflow-auto mx-auto border" style="width: 1000px; height: 400px">
  <h3 class="text-center">Statistics</h3>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h4 class="text-center">Weight</h4>
        <br />
        <p class="text-center">Your highest recorded weight is</p>
        <br />
        <p class="text-center">Your lowest recorded weight is</p>
        <br />
      </div>
      <div class="col-sm">
        <h4 class="text-center">Calories Burned</h4>
        <br />
        <p class="text-center">Your highest recorded calories burned is</p>
        <br />
        <p class="text-center">Your lowest recorded calories burned is</p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm">
        <h4 class="text-center">Types</h4>
        <br />
        <p class="text-center">Your most used type of workout</p>
        <br />
        <p class="text-center">Your least used type of workout</p>
        <br />
      </div>
      <div class="col-sm">
        <h4 class="text-center">Sets & Reps</h4>
        <br />
        <p class="text-center">Your highest amount of reps performed in one workout is</p>
        <br />
        <p class="text-center">Your lowest amount of reps performed in one workout is</p>
      </div>
    </div>
  </div>
  </div>
