<form name="addForm">
  <p>* = optional</p>
  <label for="date">Date: </label>
  <input type="date" name="date" placeholder="Date" [(ngModel)]="newWorkout.date">
  <br>
  <label for="type">Type: </label>
  <input type="text" name="type" placeholder="Type" [(ngModel)]="newWorkout.type">
  <br>
  <label for="duration">Duration (minutes): </label>
  <input type="number" name="duration" [(ngModel)]="newWorkout.duration">
  <br>
  <label for="sets">Sets*: </label>
  <input type="number" name="sets" [(ngModel)]="newWorkout.sets">
  <br>
  <label for="reps">Reps: </label>
  <input type="number" name="reps" [(ngModel)]="newWorkout.reps">
  <br>
  <label for="caloriesBurned">Calories Burned*: </label>
  <input type="number" name="caloriesBurned" [(ngModel)]="newWorkout.caloriesBurned">
  <br>
  <label for="bodyWeight">Body Weight (lbs)*: </label>
  <input type="number" name="bodyWeight" [(ngModel)]="newWorkout.bodyWeight">
  <br>
  <label for="details">Details*: </label>
  <input type="text" name="details" placeholder="Details" [(ngModel)]="newWorkout.details">
  <br>
  <button name="submit" (click)="addWorkout(newWorkout)">Submit</button>
</form>
