<h1>Home Page</h1>

<form name="addForm">
  <p>* = optional</p>
  <label for="date">Date: </label>
  <input type="date" name="date" placeholder="Date">
  <br>
  <label for="type">Type: </label>
  <input type="text" name="type" placeholder="Type">
  <br>
  <label for="duration">Duration: </label>
  <input type="number" name="duration" placeholder="Duration (minutes)">
  <br>
  <label for="sets">Sets*: </label>
  <input type="number" name="sets" placeholder="Sets">
  <br>
  <label for="reps">Reps: </label>
  <input type="number" name="reps" placeholder="Reps">
  <br>
  <label for="caloriesBurned">Calories Burned*: </label>
  <input type="number" name="caloriesBurned" placeholder="Calories Burned">
  <br>
  <label for="bodyWeight">Body Weight*: </label>
  <input type="number" name="bodyWeight" placeholder="Body Weight (lbs)">
  <br>
  <label for="details">Details*: </label>
  <input type="text" name="details" placeholder="Details">
  <br>
  <button name="submit">Submit</button>
</form>
