<div *ngIf="!workout">
  <h1>Home Page</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Type</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let workout of workouts">
        <td (click)="displayWorkout(workout)">{{workout.id}}</td>
        <td (click)="displayWorkout(workout)">{{workout.date | date:'mediumDate'}}</td>
        <td (click)="displayWorkout(workout)">{{workout.type}}</td>
        <td><button (click)="removeWorkout(workout.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <button (click)="addWorkout()">Add Workout</button>
</div>


<div *ngIf="workout">
  <h3>{{workout.type}} on {{workout.date | date:'mediumDate'}}</h3>

  <p *ngIf="workout.date != null"><strong>Date: </strong>{{workout.date | date:'mediumDate'}}</p>
  <p *ngIf="workout.type != null"><strong>Type: </strong>{{workout.type}}</p>
  <p *ngIf="workout.duration != null"><strong>Duration: </strong>{{workout.duration}} minutes</p>
  <p *ngIf="workout.sets != null"><strong>Sets: </strong>{{workout.sets}}</p>
  <p *ngIf="workout.reps != null"><strong>Reps: </strong>{{workout.reps}}</p>
  <p *ngIf="workout.bodyWeight != null"><strong>Body Weight: </strong>{{workout.bodyWeight}} lbs</p>
  <p *ngIf="workout.caloriesBurned != null"><strong>Calories Burned: </strong>{{workout.caloriesBurned}} calories</p>
  <p *ngIf="workout.details != null"><strong>Details: </strong>{{workout.details}}</p>
  <button (click)="updateWorkout(workout.id)">Update</button>
  <button (click)="workout = null;">Exit</button>
</div>
